*.fasl
*.bci
*.bin
*.com
*.x86-llinux
{particle,saddle}-{F,R}{F,R}-{bigloo,chicken,gambit,haskell-ad,mlton,mzc,ocaml,s2c,stalin,stalingrad}
{common,{particle,saddle}-{F,R}{F,R}}-larceny.fasl
{common,{particle,saddle}-{F,R}{F,R}}-mitscheme.{bci,bin,com}
{common,{particle,saddle}-FF}-scmutils.{bci,bin,com}
{particle,saddle}-FF-{adifor,fadbad++,tapenade}
{particle,saddle}-{F,R}{F,R}-smlnj.x86-linux
probabilistic-{lambda-calculus,prolog}-{F,R}-{bigloo,chicken,gambit,haskel-ad,mlton,mzc,ocaml,s2c,stalin,stalingrad}
probabilistic-{lambda-calculus,prolog}-{F,R}-larceny.fasl
probabilistic-{lambda-calculus,prolog}-{F,R}-mitscheme.{bci,bin,com}
probabilistic-{lambda-calculus,prolog}-F-scmutils.{bci,bin,com}
probabilistic-{lambda-calculus,prolog}-{F,R}-smlnj.x86-linux
mlp-{F{s,v},R}-{adic,adifor,adolc,bigloo,chicken,cppad,fadbad++,gambit,haskell-ad,mlton,mzc,ocaml,s2c,stalin,stalingrad,tapenade}
mlp-{Fs,R}-larceny.fasl
mlp-{Fs,R}-mitscheme.{bci,bin,com}
mlp-Fs-scmutils.{bci,bin,com}
mlp-{Fs,R}-smlnj.x86-linux
*~
*.{A,aux}
AD_cache
ad_deriv.h
adifor
*-*-bigloo.o
DIFFSIZES.inc
.*.f
foo.{cmi,cmx,o}
foo.f
foo.ml
foo.sml
*-*-gambit_.c
*-*-gambit.c
g_common-adifor.f
g_mlp-*-adifor-f.{A,aux}
g_mlp-*-adifor-f.f
g_saddle-FF-adifor1.f
h_common-adifor.f
h_g_common-adifor.f
h_g_saddle-FF-adifor1.f
.mlp-*-adifor-f.f
mlp-*-bigloo.o
mlp-Fs-adic-f.ad.c
mlp-Fs-tapenade-f_d.f
mlp-Fs-tapenade-f_d.msg
mlp-Fv-adic-f.ad.c
mlp-Fv-tapenade-f_dv.f
mlp-Fv-tapenade-f_dv.msg
mlp-*-gambit_.c
mlp-*-gambit.c
mlp-R-tapenade-f_b.f
mlp-R-tapenade-f_b.msg
mlp-*-s2c.c
particle-FF-tapenade_{g,h}v.{f,msg}
*-*-s2c.c
saddle-FF-tapenade_{g,h}v.{f,msg}
*-stalingrad.c
tables.{aux,log}
common_hips_autograd.py
*.pyc

/Common_Haskell_AD.hs
*.hi
*.o

/*-F-haskell-ad
/*-Fs-haskell-ad
/*-R-haskell-ad
/*-FF-haskell-ad
/*-FR-haskell-ad
/*-RF-haskell-ad
/*-RR-haskell-ad
